<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            img {
                max-width: 200px;
            }
        </style>
</head>
<body>
        <% for (var x in users) { %>
        <img src="/images/<%= users[x].name %>.jpg">
        <h2>Details Page for <%= users[x].name %>:</h2>
        <h3>Name: <%= users[x].name %></h3>
        <h4>Favorite Food: <%= users[x].food %></h4>
        <h4>Age: <%= users[x].age %></h4>
        <h4>Sleeping Spots: </h4>
            <% for (var y in users[x].sleep_spot) { %>
                <p><%= users[x].sleep_spot[y] %></p>
            <% } %>
    <% } %>
    <a href="/cats">Go Back</a>
</body>
</html>